/**
 * @Description: the stylesheet of 智能运维2.0
 * @authors: hanjw (han.jingwei@fengniao.com)
 * @date   : 2015-12-15 21:34:43
 * @version: 1.0
 */
.weChatPlat .mui-bar-nav~.mui-content{padding-top: 0!important;}

/* .releaseTaskPage  */
.releaseTaskPage .mui-content-padded > h5{font-weight: bold;}
.releaseTaskPage .mui-table-view-cell>.mui-btn{position: relative; right: auto; -webkit-transform: translateY(0); transform: translateY(0);}
.releaseTaskPage textarea{margin-bottom: 0;}
.releaseTaskPage .mui-radio label{width: auto;}
.releaseTaskPage .mui-input-group .mui-input-row{overflow: hidden; font-size: 14px; line-height: 40px;}
.releaseTaskPage .mui-input-group .mui-input-row > span{}
.releaseTaskPage .mui-input-group input[type=radio]:before{font-size: 20px;}
.releaseTaskPage .mui-radio.mui-left input[type=radio]{top: 8px; left: 10px;} 
.releaseTaskPage .mui-radio.mui-left label{ padding-left: 40px;}
.releaseTaskPage .mui-media-object img{width: 1.6rem; height: 1.6rem;}

/* taskDetailPage */
.taskDetailPage .mui-content-padded > h5{font-weight: bold;}
.taskDetailPage .mui-bar .mui-btn{padding: 6px 12px;}
.taskDetailPage .fault-text{max-height: 100px; overflow-x: hidden; overflow-y: auto; padding: 5px; border: 1px solid #ccc; background: #fff;}
.taskDetailPage .mui-content-padded > p{max-height: 100px; overflow-x: hidden; overflow-y: auto; padding: 5px; border: 1px solid #ccc; background: #fff;}
.taskDetailPage .mui-input-group input[type=checkbox]:before{font-size: 20px;}
.taskDetailPage .mui-checkbox.mui-left input[type=checkbox]{top: 8px; left: 10px;} 
.taskDetailPage .mui-checkbox.mui-left label{padding-left: 40px;}

/* assignmentTaskPage */
.assignmentTaskPage .mui-content-padded{margin: 10px 0;}
.assignmentTaskPage .mui-content-padded > h5{margin: 20px 10px 10px; font-weight: bold;} 
.assignmentTaskPage .mui-content-padded .btn-group{padding: 10px 30px 0;}
.assignmentTaskPage .mui-content-padded .btn-group .mui-btn-block{padding: 5px 0; font-size: 16px;}
.assignmentTaskPage .mui-table .mui-table-cell .mui-btn-primary{padding: 3px 12px; font-size: 12px;} 
.assignmentTaskPage .mui-table .mui-table-cell .mui-h6{margin-top: 10px;}

/* unfillReceiptOrderPage */
.unfillReceiptOrderPage .mui-search{padding: 0 70px 0 0;}
.unfillReceiptOrderPage .mui-search input[type=search]{margin-bottom: 0; text-align: left;z-index:2;}
.unfillReceiptOrderPage .mui-search .mui-placeholder .mui-icon{margin: 7px 0 0 5px;}
.unfillReceiptOrderPage .mui-search .mui-btn{position: absolute; top: 0; right: 0; width: 60px; padding: 9px 15px;z-index:2;}

/* evaluationOrderListPage */ 
.evaluationOrderListPage .mui-content-padded .btn-group{padding: 10px 30px 0;}
.evaluationOrderListPage .mui-content-padded .btn-group .mui-btn-block{padding: 5px 0; font-size: 16px;}
.evaluationOrderListPage .mui-table .mui-table-cell .mui-btn-primary{padding: 3px 12px; font-size: 12px;}

/* evaluationOrderDetailPage */
.evaluationOrderDetailPage .btn-group{margin-top: 10px;} 
.evaluationOrderDetailPage .mui-table-view{padding: 10px 0;}
.evaluationOrderDetailPage .mui-table-view-cell{padding: 5px 10px;}
.evaluationOrderDetailPage .mui-table-view-cell:after{display: none;}
.evaluationOrderDetailPage .mui-table-cell{vertical-align: middle;}
.evaluationOrderDetailPage .mui-table-cell .mui-switch{-webkit-transform: scale(.8); transform: scale(.8);}
.evaluationOrderDetailPage .mui-table-cell .mui-radio{padding: 10px 0 0;}
.evaluationOrderDetailPage .mui-table-cell .mui-radio.mui-left label{padding-left: 30px;}
.evaluationOrderDetailPage .mui-table-cell .mui-radio.mui-left input[type=radio]{top: 7px; left: 0; -webkit-transform: scale(.8); transform: scale(.8);}
.evaluationOrderDetailPage .mui-table-cell textarea{margin-bottom: 0;}

/* evaluationOrderDetailPage */
.engineerEmergencyTask .mui-content{background: white;}
.engineerEmergencyTask .mui-popover{ height: 300px;padding: 5px; }
.engineerEmergencyTask .spSelectCustomer{margin-right: 10px;color: #aaa;}
.engineerEmergencyTask #lbCusName{width: 30% !important;float: left;}
.engineerEmergencyTask #searchName{width: 50% !important;float: left;}
.engineerEmergencyTask #searchCustomer{width: 20% !important;}
.engineerEmergencyTask #myCustomers p{margin-left: 10px;margin-bottom: 0;}
